RewriteEngine on
RewriteOptions inherit
Options -Indexes

##### Add WWW ###############################################
RewriteCond %{HTTP_HOST} ^christina.codes$ [NC]
RewriteRule ^(.*)$ https://www.christina.codes/$1 [R=301,L]

