body {
  font-family: 'Avenir', 'Helvetica', Helvetica, sans-serif;
  background: #FFFFFF;
  color: #444444;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  line-height: 1.4;
}

#emoji {
  display: inline-block;
  min-width: 50px;
}

p {
  font-size: 24px;
  font-weight: 400;
}

a, a:hover, a:visited, a:focus {
  color: #999999;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.message {
  max-width: 700px;
  min-height: 100px;
}

#giphy {
  display: none;
}

#giphy img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

footer p {
  display: inline-block;
  margin: 0;
  font-size: 16px;
}

ul.horizontal-links {
  list-style: none;
  margin: 0;
  padding: 10px;
  font-size: 16px;
}

ul.horizontal-links li {
  display: inline-block;
  padding: 0 5px;
}

ul.horizontal-links li a {
  color: #444444;
}

@media screen and (max-width: 975px) {
  h1 {
    font-size: 30px;
  }

  #emoji {
    min-width: 30px;
  }
}

@media screen and (max-width: 585px) {
  h1 {
    font-size: 24px;
  }

  .centered {
    width: 100%;
  }

  p.message {
    padding: 0 20px;
  }

  p {
    font-size: 16px;
  }

  ul.horizontal-links li {
    padding: 0;
  }
}
