body{
	font-family: 'Avenir', 'Helvetica', Helvetica, sans-serif;
	background: #FFFFFF;
}

p{ 
	font-size: 24px; 
	font-weight: 400; 
	color: #444444;
}

a, a:hover, a:visited, a:focus{
	color: #999999;
}

.centered{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*width: 80%;*/
}

.padding{
	padding:10px;
}

.message{
	max-width: 700px;
}

#giphy{
	display: none;
}

#giphy img{
	max-width: 400px;
	width: 100%;
	height: auto;
}

img.logo{
	width: 100%;
	max-width: 500px;
}

footer{
	position:absolute;
	bottom:0;
	width:100%;
}

footer p{
	display: inline-block;
	margin: 0;
	font-size: 16px;
}

ul.horizontal-links{
	list-style: none;
	margin: 0;
	padding: 10px;
	font-size: 16px;
}

ul.horizontal-links li{
	display: inline-block;
	padding: 0 5px;
}

ul.horizontal-links li a{
	color: #444444;
}

@media screen and (max-width: 500px){
	h1{font-size: 60px;}
	p{font-size: 16px;}
	footer p.padding, ul.horizontal-links{font-size: 10px; padding: 5px;}
	ul.horizontal-links li{padding: 0;}
}