$base-font-size: 24px;

body {
  background: #FFF;
  color: #111;
  font-family: 'Avenir', 'Helvetica', Helvetica, sans-serif;
  font-size: $base-font-size;
  margin: 0;

  &.dark-mode {
    background: #111;
    color: #FFF;
  }
}

a, a:visited {
  color: #111;
  text-decoration: none;

  .dark-mode & {
    color: #FFF;
  }

  &:hover, &:focus {
    color: #999;
  }
}

h1 {
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;

  #emoji {
    display: inline-block;
    min-width: $base-font-size + 1px;
  }
}
