$base-font-size: 30px;

body {
  font-family: 'Avenir', 'Helvetica', Helvetica, sans-serif;
  font-size: $base-font-size;
  margin: 0;

  &:not(.dark-mode) {
    background: #FFF;
    color: #111;

    #light-mode {
      display: none;
    }
  }

  &.dark-mode {
    background: #111;
    color: #FFF;

    #dark-mode {
      display: none;
    }
  }
}

a, a:visited {
  color: #111;
  text-decoration: none;

  .dark-mode & {
    color: #FFF;
  }

  &:hover, &:focus {
    color: #999;
  }
}

h1, p, ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $base-font-size;
  line-height: 1.4;
  text-transform: uppercase;

  #emoji {
    display: inline-block;
    min-width: $base-font-size + 1px;
  }
}

ul {
  list-style: none;
}

footer {
  bottom: 0;
  position: absolute;
  right: 0;

  button {
    background: transparent;
    border: none;
    font-size: $base-font-size;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 60%;
  min-height: 100vh;

  div { max-width: 60%; }
}

