$base-font-size: 30px;
$dark: #111;
$light: #FFF;

body {
  font-family: 'Avenir', 'Helvetica', Helvetica, sans-serif;
  font-size: $base-font-size;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &:not(.dark-mode) {
    background: $light;
    color: $dark;

    #light-mode {
      display: none;
    }
  }

  &.dark-mode {
    background: $dark;
    color: $light;

    #dark-mode {
      display: none;
    }
  }
}

a, a:visited {
  color: $dark;
  text-decoration: none;

  .dark-mode & {
    color: $light;
  }

  &:hover, &:focus {
    color: #999;
    outline: none;
  }
}

h1, p, ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $base-font-size;
  line-height: 1.4;
  text-transform: uppercase;

  #emoji {
    display: inline-block;
    min-width: $base-font-size + 1px;
  }
}

ul {
  list-style: none;
}

footer {
  bottom: 0;
  position: absolute;
  right: 0;

  button {
    background: transparent;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    font-size: 30px;
    height: 38px;
    padding: 0;
    width: 38px;

    &:focus {
      outline: none;
      border: 2px solid $dark;
    }

    .dark-mode &:focus {
      border: 2px solid $light;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 60%;
  min-height: 100vh;

  div { max-width: 60%; }
}

